---
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Reacts from './icons/Reacts.astro'
import Docker from './icons/Docker.astro'
import Php from './icons/Php.astro'
import Laravel from './icons/Laravel.astro'
import Vue from "./icons/Vue.astro"
import Filament from "./icons/Filament.astro"
import Pest from "./icons/Pest.astro"
import Figma from "./icons/Figma.astro"

import ExperienceItem from "./ExperienceItem.astro"
const TAGS = {
  FILAMENT: {
    name: "Filament",
    class: "bg-[#F2911A] text-white",
    icon: Filament,
  },
  PEST: {
    name: "Pest",
    class: "bg-[#3729AB] text-white",
    icon: Pest,
  },
  FIGMA: {
    name: "Figma",
    class: "bg-[#864FFF] text-white",
    icon: Figma,
  },
  REACT: {
    name: "React.js",
    class: "bg-black text-white",
    icon: Reacts,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#2796EC] text-white",
    icon: Docker,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#7277AD] text-white",
    icon: Php,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#1E293B] text-white",
    icon: Tailwind,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-white text-black dark:bg-black dark:text-white ",
    icon: Laravel,
  },
  VUE: {
    name: "Vue.js",
    class: "bg-[#5ee1a6] text-black",
    icon: Vue,
  },
}
const EXPERIENCE = [
  {
    date: "September 2025 - December 2025",
    dateEs: "Septiembre 2025 - Diciembre 2025",
    title: "Fullstack Developer",
    titleEs: "Desarrollador Fullstack",
    company: "Premium Domain Names",
    description: "During my time at Premium Domain Names, I participated in the development of two web applications, working across both frontend and backend. I focused on building application logic and data management with Laravel, developing interactive interfaces with Vue.js and Inertia.js based on Figma designs, using Tailwind CSS together with Vue.js and Inertia.js. I also worked on feature and browser testing with Pest, contributing to application stability and quality. This experience helped me strengthen my fullstack skills, work independently, and solve real-world problems while making meaningful contributions to the projects.",
    descriptionEs: "Durante mi etapa en Premium Domain Names, participé en el desarrollo de dos aplicaciones web, trabajando tanto en frontend como en backend. Me encargué del desarrollo de la lógica de la aplicación y la gestión de datos con Laravel, la creación de interfaces interactivas con Vue.js e Inertia.js a partir de diseños en Figma, y utilizando Tailwind CSS junto con Vue.js e Inertia.js. También desarrollé Feature y Browser tests con Pest, contribuyendo a la estabilidad y calidad de las aplicaciones. Esta experiencia me permitió consolidar mis habilidades fullstack, trabajar de forma independiente y resolver problemas en entornos reales, aportando valor de manera significativa a los proyectos.",
    tags: [TAGS.LARAVEL, TAGS.VUE, TAGS.TAILWIND, TAGS.FIGMA, TAGS.PEST, TAGS.FILAMENT, ],
  },
  {
    date: "October 2024 - March 2025",
    dateEs: "Octubre 2024 - Marzo 2025",
    title: "Fullstack Developer",
    titleEs: "Desarrollador Fullstack",
    company: "Avannubo",
    description: "During my internship at Avannubo, I contributed to the development and maintenance of web applications using Laravel, Livewire, Vue.js, PostgreSQL, and TailwindCSS, focusing on modular and scalable code. I was part of an agile team, providing solutions in both frontend and backend, with deployment in Dockerized environments to enhance scalability and maintainability. I also integrated RESTful services for secure communication between layers and collaborated in resolving issues and continuous software improvements.",
    descriptionEs: "Durante mis prácticas en esta empresa, participé en el desarrollo y mantenimiento de aplicaciones web Fullstack utilizando Laravel, Livewire, Vue.js, PostgreSQL y TailwindCSS, priorizando un código modular y escalable. Formé parte de un equipo ágil, aportando soluciones tanto en frontend como en backend, con despliegue en entornos Dockerizados para mejorar la escalabilidad y el mantenimiento. También integré servicios RESTful para una comunicación segura entre capas y colaboré en la resolución de incidencias y mejoras continuas del software.",
    tags: [TAGS.LARAVEL, TAGS.VUE, TAGS.TAILWIND, TAGS.DOCKER, ],
  },
]
---

<div class="relative py-12">
  <!-- Background decorative element -->
  <div class="absolute inset-0 -z-10">
    <div class="absolute bottom-1/3 left-1/4 w-64 h-64 bg-violet-500/10 rounded-full blur-3xl"></div>
  </div>

  <div class="space-y-12">
    <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-8 flex items-center">
      <span class="bg-gradient-to-r from-purple-600 to-violet-500 bg-clip-text text-transparent lang-es">Experiencia Profesional</span>
      <span class="bg-gradient-to-r from-purple-600 to-violet-500 bg-clip-text text-transparent lang-en">Professional Experience</span>
      <div class="h-px flex-grow bg-gradient-to-r from-purple-600 to-transparent ml-4"></div>
    </h2>
    
    
    <div class="space-y-8">
      {EXPERIENCE.map((experience) => (
        <ExperienceItem 
          title={experience.title} 
          titleEs={experience.titleEs} 
          company={experience.company} 
          description={experience.description} 
          descriptionEs={experience.descriptionEs} 
          date={experience.date} 
          dateEs={experience.dateEs} 
          tags={experience.tags} 
        />
      ))}
    </div>
  </div>
</div>
