---
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Reacts from './icons/Reacts.astro'
import Docker from './icons/Docker.astro'
import Php from './icons/Php.astro'
import Laravel from './icons/Laravel.astro'
import Vue from "./icons/Vue.astro"

import ExperienceItem from "./ExperienceItem.astro"
const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-black text-white",
    icon: Reacts,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#2796EC] text-white",
    icon: Docker,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#7277AD] text-white",
    icon: Php,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#1E293B] text-white",
    icon: Tailwind,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-white text-black dark:bg-black dark:text-white ",
    icon: Laravel,
  },
  VUE: {
    name: "Vue.js",
    class: "bg-[#5ee1a6] text-black",
    icon: Vue,
  },
}
const EXPERIENCE = [
  {
    date: "October 2024 - March 2025",
    dateEs: "Octubre 2024 - Marzo 2025",
    title: "Fullstack Developer",
    titleEs: "Desarrollador Fullstack",
    company: "Avannubo",
    description: "Development of web applications for client companies. Implementation of custom software solutions, with a focus on user experience and scalability.",
    descriptionEs: "Desarrollo de aplicaciones web para empresas clientes. Implementación de soluciones de software a medida, con un enfoque en la experiencia de usuario y la escalabilidad.",
    tags: [TAGS.LARAVEL, TAGS.VUE, TAGS.TAILWIND, TAGS.DOCKER, ],
  },
]
---

<div class="relative py-12">
  <!-- Background decorative element -->
  <div class="absolute inset-0 -z-10">
    <div class="absolute bottom-1/3 left-1/4 w-64 h-64 bg-violet-500/10 rounded-full blur-3xl"></div>
  </div>

  <div class="space-y-12">
    <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-8 flex items-center">
      <span class="bg-gradient-to-r from-purple-600 to-violet-500 bg-clip-text text-transparent lang-es">Experiencia Profesional</span>
      <span class="bg-gradient-to-r from-purple-600 to-violet-500 bg-clip-text text-transparent lang-en">Professional Experience</span>
      <div class="h-px flex-grow bg-gradient-to-r from-purple-600 to-transparent ml-4"></div>
    </h2>
    
    <div class="space-y-8">
      {EXPERIENCE.map((experience) => (
        <ExperienceItem 
          title={experience.title} 
          titleEs={experience.titleEs} 
          company={experience.company} 
          description={experience.description} 
          descriptionEs={experience.descriptionEs} 
          date={experience.date} 
          dateEs={experience.dateEs} 
          tags={experience.tags} 
        />
      ))}
    </div>
  </div>
</div>

