---
import GitHub from "@/components/icons/GitHub.astro"
import Vue from "./icons/Vue.astro"
import Angular from "./icons/Angular.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Reacts from './icons/Reacts.astro'
import Docker from './icons/Docker.astro'
import Php from './icons/Php.astro'
import Laravel from './icons/Laravel.astro'
import Express from './icons/Express.astro'
import JWT from './icons/JWT.astro'


const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-black text-white",
    icon: Reacts,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#2796EC] text-white",
    icon: Docker,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-white text-black dark:bg-black dark:text-white ",
    icon: Laravel,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#7277AD] text-white",
    icon: Php,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#1E293B] text-white",
    icon: Tailwind,
  },
  VUE: {
    name: "Vue.js",
    class: "bg-[#5ee1a6] text-black",
    icon: Vue,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#a11818] text-white",
    icon: Angular,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#000000] text-white",
    icon: Express,
  },
  JWT: {
    name: "JWT",
    class: "bg-[#a819ba] text-white",
    icon: JWT,
  },
 
}
const PROJECTS = [
  {
    title: "Alumni Monlau",
    description: "Official platform for Monlau alumni built with Laravel, Vue3, and Tailwind CSS. Allows profile management, posting offers and events, and includes an automated deployment flow with Plesk and Git.",
    descriptionEs: "Plataforma oficial para exalumnos de Monlau con Laravel, Vue3 y Tailwind CSS. Permite gestionar perfiles, publicar ofertas y eventos, e incluye un flujo de despliegue automatizado con Plesk y Git.",
    github: "https://github.com/MonlauAlumni/produccion",
    link: "https://alumni.alumnes-monlau.com/",
    image: "/projects/alumni.png",
    tags: [TAGS.LARAVEL, TAGS.VUE ,TAGS.TAILWIND],
  },
  {
    title: "Nike Clone",
    description: "Management platform for Nike with Angular and Express. Allows users to register, log in, and upload products, with an Express backend and a dynamic Angular interface.",
    descriptionEs: "Plataforma de gestión para Nike con Angular y Express. Permite a los usuarios registrarse, iniciar sesión y subir productos, con un backend en Express y una interfaz dinámica en Angular.",
    github: "https://github.com/lucasmaragu/nike-clone",
    image: "/projects/nike.png",
    tags: [TAGS.ANGULAR, TAGS.EXPRESS, TAGS.JWT, TAGS.TAILWIND],
  },
  {
    title: "Project Management",
    description: "Dockerized multi-client project management application with Laravel, Vue, InertiaJS, and Tailwind CSS. Manages organizations, departments, and employees, allowing the creation and assignment of projects and tasks, hour allocation, and generation of both reports and MarkDown documentation.",
    descriptionEs: "Aplicación multicliente dockerizada de gestión de proyectos con Laravel, Vue, InertiaJS y Tailwind CSS. Gestiona organizaciones, departamentos y empleados, permitiendo la creación y asignación de proyectos y tareas, asignación de horas y generación de tanto informes como documentación tipo MarkDown.",
    image: "/projects/project-management.png",
    github: "https://github.com/lucasmaragu/project-management",
    tags: [TAGS.LARAVEL, TAGS.VUE, TAGS.DOCKER, TAGS.TAILWIND],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, descriptionEs, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-200 dark:lg:border-gray-800 lg:hover:border-gray-300 dark:lg:hover:border-gray-700 lg:hover:bg-gray-100/50 dark:lg:hover:bg-gray-800/50">
      <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image || "/placeholder.svg"} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-3 transition-transform hover:scale-105`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">
        <span class="lang-es">{descriptionEs}</span>
        <span class="lang-en">{description}</span>
      </div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              <span class="lang-es">Código</span>
              <span class="lang-en">Code</span>
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              <span class="lang-es">Vista previa</span>
              <span class="lang-en">Preview</span>
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
  <div class="flex justify-center flex-col items-center gap-y-4 ">
    <h1 class="text-xl font-bold text-purple-600 dark:text-purple-400">
      <span class="lang-es">Puedes encontrar más proyectos en mi Github!</span>
      <span class="lang-en">You can find more projects on my Github!</span>
    </h1>
    <a href="https://github.com/lucasmaragu" target="_blank" rel="noopener noreferrer" class="text-gray-800 dark:text-white hover:text-purple-600 dark:hover:text-purple-400 transition-colors">
      <GitHub class="size-8" />
    </a>
  </div>
</div>

